.header {
    padding: 10px 0;
    border: 1px solid #459DB3;
    padding-left: 2%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #459DB3;
    color: #fff;
    font-size: 25px;
}

.btn {
    margin-top: 10px;
    text-align: center;
}