.header {
    padding: 20px;
    font-size: 20px;
    background: #459DB3;
    color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    border: 1px solid #459DB3;
    margin-top: -2px;
}

.btn {
    margin: 20px;
}
.btn-profile{
    margin-left: 80%;
}